.app{
  .body{
    display: -webkit-box;
    display: flex;
    flex-basis: 0%;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 920px;
    position: relative;
    min-width: 920px;
    align-items: center;
    min-height: 1px;
    width: 100%;
    // justify-content: center;

    .construction{
      position: absolute;
      top: 300px;
      font-size: 80px;
      color: rgb(209, 209, 209);
      justify-content: center;
    }

    .construction-p{
      position: absolute;
      top: 100px;
      font-size: 20px;
    }

    .home-body{
      width: 100%;
      position: absolute;
      top: 70px;
      bottom: 0px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .project-list{
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-flow: row wrap;
      padding-top: 15px;
      flex-shrink: 4;
      width: 900px;
      margin-top: 50px;
    }

    .project-tile{
      border-radius: 30px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 205px;
      min-width: 150px;
      padding: 15px 0;
      width: 150px;
      -webkit-box-align: center;
      align-items: center;
      background: rgba(246,248,249,0);
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-flow: column;
      position: relative;
      -webkit-transition-duration: .35s;
      transition-duration: .35s;
      bottom: 0px;
      transition: bottom .35s ease-in-out, background-color .4s ease-in-out;
      margin: 0px 10px;
      cursor: pointer;
    }

    .project-tile:hover{
      bottom: 12px;
      background-color: rgb(235, 234, 248);
      .tile-card-new{
        fill: #5a6268;
        border: 2px dashed #5a6268;
      }
      .project-owner{
        opacity: 1;
        bottom: 82px;
      }
    }
    
    .project-icon{
      position: absolute;
      top: 46px;
      -webkit-transition: all .35s ease;
      -moz-transition: all .35s ease;
      -ms-transition: all .35s ease;
      -o-transition: all .35s ease;
      transition: all .35s ease;
    }

    .project-tile:hover .project-icon{
      position: absolute;
      top: 38px;
    }

    .tile-card-new{
      border-radius: 20px;
      height: 70%;
      width: 80%;
      -webkit-box-align: center;
      align-items: center;
      background: #fff;
      border: 2px dashed;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #9ca6af;
      display: -webkit-box;
      display: flex;
      fill: #9ca6af;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
    }

    .tile-card{
      border-radius: 20px;
      height: 70%;
      width: 80%;
      box-shadow: inset 0 -2px rgba(0,0,0,.05);
      -webkit-box-align: center;
      align-items: center;
      background-color: #e8384f;
      display: -webkit-box;
      display: flex;
      fill: #fff;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      flex-flow: column;
      position: relative;
    }

    .tile-name{
      box-sizing: border-box;
      margin-top: 10px;
      padding: 0 10px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      color: #151b26;
      display: -webkit-box;
      font-size: 13px;
      font-weight: 500;
      line-height: 17px;
      max-height: 34px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      width: 100%;
    }
    
    .project-dropdown{
      display: none;
      position: absolute;
      background: white;
      font-size: 12px;
      width: 110px;
      color: black;
      border-radius: 5px;
      padding: 5px 0px;
      z-index: 3;
      margin-top: 5px;
      line-height: 20px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
      font-size: 13px;
      max-width: 500px;
      min-width: 185px;
      padding: 5px 0;
      top: 45px;
      left: 95px;
    }

    .project-icon{
      height: 32px;
      -webkit-transition-duration: .4s;
      transition-duration: .4s;
      width: 32px;
      &:focus{
        outline: none;
      }
    }
    
    
    .ellipsis{
      opacity: 0;
      fill: rgba(255,255,255,.5);
      outline: none;
      padding: 5px;
      height: 20px;
      width: 20px;
      z-index: 3;
      position: absolute;
      right: 26px;
      top: 22px;
      -webkit-transition: opacity .35s ease;
      -moz-transition: opacity .35s ease;
      -ms-transition: opacity .35s ease;
      -o-transition: opacity .35s ease;
      transition: opacity .35s ease;
    }

    .project-tile:hover .ellipsis{
      opacity: 1;
    }

    .ellipsis:hover{
      fill: white;
    }

    .dropdown-item{
      z-index: 4;
      position: relative;
      padding-right: 20px;
      height: 30px;
      &:hover{
        background-color: #e8ecee;
      }
      align-items: center;
      padding: 0 10px;
      display: flex;
      //display flex for future implementation of color, which is two elements rowed.
    }

    .reveal-dropdown{
      display: block;
    }

    span .profile-icon-child{
      font-size: 12px;
      box-shadow: none;
      height: 28px;
      line-height: 28px;
      min-width: 28px;
      width: 28px;
    }

    .project-owner{
      opacity: 0;
      position: absolute;
      bottom: 70px;
      transition: bottom .4s ease-in-out, opacity .4s ease-in-out;
    }
  }

  .isDragging {
  background: rgb(245, 245, 245);
  .section-index-item-title {
    color: black;
  }
}
}
