.app{
  .body{
    // .header{
    //   -webkit-box-align: center;
    //   align-items: center;
    //   background: #fff;
    //   // display: -webkit-box;
    //   // display: flex;
    //   flex-shrink: 0;
    //   z-index: 200;
    //   width: 100%;
    //   display: flex;
    //   justify-content: space-between;
    //   -webkit-box-flex: 1;
    //   // flex: 1 1 auto;
    //   height: 70px;
    //   min-width: 1px;
    //   position: sticky;
    //   box-shadow: none;
    //   transition: box-shadow .4s ease-in-out;
    // }

    // .home-body:not([data-scroll='0']) {
    //   .header {
    //     box-shadow: 0 0px 14px 0 rgba(59, 83, 109, 0.14) !important;
    //   }
    // }

    .home{
      padding: 0 20px;
      font-size: 20px;
      font-weight: 900;
      line-height: 28px;
      -webkit-box-align: center;
      align-items: center;
      color: #151b26;
      -webkit-box-flex: 0;
      flex: 0 1 auto;
      min-width: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

}

    .header{
      -webkit-box-align: center;
      align-items: center;
      background: #fff;
      // display: -webkit-box;
      // display: flex;
      flex-shrink: 0;
      z-index: 200;
      width: 100%;
      display: flex;
      justify-content: space-between;
      -webkit-box-flex: 1;
      // flex: 1 1 auto;
      height: 70px;
      min-width: 1px;
      position: sticky;
      box-shadow: none;
      transition: box-shadow .4s ease-in-out;
    }

    //fix this.
    div:not([data-scroll='0']) {
      .header {
        box-shadow: 0 0px 2px 0 rgba(59, 83, 109, 0.14) !important;
      }
    }
