.app{
  .profile-icon-parent{
    cursor: pointer;
  }
  .profile-icon-child{
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    background: center/cover #cbd4db;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.07);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    vertical-align: top;
    height: 34px;
    line-height: 34px;
    min-width: 34px;
    width: 34px;
    background-color: #7a6ff0;
    color: #fff;
    border-radius: 50%;
  }

  .profile-dropdown{
      display: none;
      position: absolute;
      background: white;
      font-size: 12px;
      width: 110px;
      color: black;
      border-radius: 5px;
      padding: 5px 0px;
      z-index: 3;
      margin-top: 5px;
      line-height: 20px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
      font-size: 13px;
      max-width: 500px;
      min-width: 185px;
      padding: 5px 0;
      top: 54px;
      right: 23px;
      cursor: pointer;
  }

  .profile-dropdown-item{
    z-index: 4;
    position: relative;
    padding-right: 20px;
    height: 30px;
    &:hover{
      background-color: #e8ecee;
    }
    align-items: center;
    padding: 0 10px;
    display: flex;
  }

  .profile-dropdown-hide{
    display: none;
  }

  .profile-dropdown-reveal{
    display: block;
  }

  .profile-hover{
    display: none;
  }
}
