.app{
  .sidebar{
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-transition: margin-left 250ms ease-out,-webkit-transform 250ms ease-out;
    transition: margin-left 250ms ease-out,-webkit-transform 250ms ease-out;
    transition: margin-left 250ms ease-out,transform 250ms ease-out;
    transition: margin-left 250ms ease-out,transform 250ms ease-out,-webkit-transform 250ms ease-out;
    width: 244px;
    background-color: #151b26;
    color: white;
    text-decoration: none;
    cursor: default;

    .link{
      color: #cbd4db;
      font-weight: 400;
      width: 100%;
    }

    .link-select{
      background-color: #434344;

    }
  }

  .sidebar-logo{
    background-image: url(https://user-images.githubusercontent.com/39147326/90319680-235bf300-deef-11ea-872f-6ebf8f0446dd.png);
    background-position: 15px 2px;
    background-repeat: no-repeat;
    background-size: 108px 25px;
    -webkit-box-flex: 1;
    // flex-grow: 1;
    height: 30px;
    cursor: pointer;
    text-decoration: none;
    margin: 19px 0 19px 4px;
  }

  .sidebar-item{
    color: unset;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    fill: #9ca6af;
    height: 28px;
    line-height: 28px;
    padding: 0 10px 0 15px;
  }

  .sidebar-item:hover{
    background-color: #222833;
  }

  .sidebar-item-select{
    background-color: #434344;
  }

  .sidebar-item:focus{
    background-color: white;
  }


  .type-icon{
    fill: #6f7782;
    margin-right: 10px;
    -webkit-transition: -webkit-transform 250ms ease-out;
    transition: -webkit-transform 250ms ease-out;
    transition: transform 250ms ease-out;
    transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
    height: 20px;
    width: 20px;
  }

  .sidebar-project-header{
    margin: 15px 4px 4px 15px;
  }
  
  .sidebar-project-index-contents{
    font-size: 14px;
    // margin: 0 4px 0 15px;
  }

  .sidebar-project-index-item-contents{
    padding: 6px 20px 6px 20px;
    margin: 2px 0 2px 0;
    white-space: nowrap;
    overflow: hidden; //this doesn't work
    text-overflow: ellipsis; //this doesn't work, likely due to a flex parent issue
    cursor: pointer;
  }

  .sidebar-project-index-item-contents:hover{
    background-color: #222833;
  }
}