.task-index-parent {
  box-sizing: border-box;
  /* overflow: auto; */
  margin-top: 10px;
  height: 100%;
  min-width: 280px;
  /* padding: 10px; */
}

// #task-index-container{
//   flex-direction: column;
//   justify-content: space-between;
//   padding: 15px;
//   width: 280px;
//   border-radius: 4px;
//   box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
// }

.task-index-item-parent {
  box-sizing: border-box;
  padding-bottom: 10px;
  /* overflow: auto; */
}

.task-index-item-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 280px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
  background: #fff;
  font-size: 14px;
}

.task-index-item-content:hover {
  cursor: pointer;
  background: rgb(246, 249, 255);
}

.task-index-item-dropdown {
  position: relative;
}

.task-dropdown-icon {
  // height: 12px;
  // width: 12px;
  // margin-left: 5px;
      opacity: 0;
      fill: rgba(0, 0, 0, 1);
      outline: none;
      padding: 5px;
      height: 14px;
      width: 16px;
      margin-left: 5px;
      // border: solid 1px rgba(133, 133, 133, 0.7);
      // border-radius: 6px;
      // z-index: 3;
      // position: absolute;
      // right: 26px;
      // top: 22px;
      -webkit-transition: opacity .15s ease;
      -moz-transition: opacity .15s ease;
      -ms-transition: opacity .15s ease;
      -o-transition: opacity .15s ease;
      transition: opacity .15s ease;
}

.task-index-item-content:hover .task-dropdown-icon {
  // cursor: pointer;
  opacity: 1;
  // background-color: black;
}

.task-dropdown-contents {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #e8ecee;
  border-radius: 4px;
  right: -5px;
  // top: 50px;
  width: 150px;
  z-index: 100;
  padding: 5px 0;
}

.show {
  display: block;
}

.task-dropdown-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 20px;
  // width: 100%;
  padding-left: 10px;
}

.task-dropdown-item:hover {
  background: #d3d7da;
  cursor: pointer;
}

.task-create-input {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
  // padding: 10px;
  resize: none;
  font: inherit;
  font-size: 14px;
  color: black;
}

.task-create-input:focus {
  outline: none;
}

.new-task-plus-icon {
  fill: #6f7782;
  width: 16px;
  height: 16px;
}

