.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  margin-bottom: 0px;
  align-items: center;
  /* height: 10px; */
  background-color: #151b26;
  color: white;

}

.calling_card {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0px 10px 0px 10px;
}
