.modal-background {
  position: absolute;
  top: 0;
  bottom: -200px;
  right: 0;
  left: 0;
  background-color: rgba(21,27,38,.85);
  z-index: 10;
  overflow-y: auto;
}

.modal-child {
  color: #646F79;
  background-color: #f6f8f9;
  border-radius: 3px;
  box-shadow: 0 20px 30px 0 rgba(36,50,66,.14);
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 32px;
  position: relative;
  width: 60%;
  max-width: 900px;
  min-height: 600px;
}

.modal-child label {
  display: block;
  margin: 0px 0px 8px;
}

.modal-child h3{
  color: #151B26;
  font-size: calc(33.75px + 11.25 * ((100vw - 480px) / 800));
  margin-top: 8px;
  margin-bottom: 40px;
}

.close-x {
  font-family: 'Flamenco', cursive;
  color: #b7bfc6;
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
  margin: 0 5px;
  opacity: .6;
  position: absolute;
  right: 32px;
  top: 32px;
  transition: opacity .15s ease-in-out;
  transition: color .3s;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.close-x:hover {
  color: rgb(73, 73, 73);
}

.linkify {
  font-weight: 900;
  cursor: pointer;
  color: #796EFF;
}

.linkify:hover{
  text-decoration: underline;
}

input[type=submit]{
  background-color: #796eff;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: 500;
  height: 50px;
  letter-spacing: .5px;
  line-height: 36px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color .15s,color .15s ease-in-out;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

input[type=submit]:hover{
  background-color: #4f46ac;
  transition: background-color .2s ease-in-out;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.login-form-container{
  display: flex;
  justify-content: center;
}

.login-form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form section{
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form section p{
  margin: 0px 3px;
}

.formbox{
  margin: 0px 0px 24px;
}

.formbox > input{
  padding: 0px 0px 0px 16px;
  font-size: inherit;
  height: 50px;
  line-height: normal;
  margin: 26px 0px 8px 0px;
  width: 500px;
  border: 2px solid #e0e6e8;
  border-top-color: rgb(224, 230, 232);
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: rgb(224, 230, 232);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(224, 230, 232);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: rgb(224, 230, 232);
  border-left-style: solid;
  border-left-width: 2px;
  box-sizing: border-box;
}

.errorlist{
  position: absolute;
  // text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: red;
}

.login-error{
  position: relative;
  text-align: center;
  font-size: 14px;
  color: red;
}

::placeholder {
  opacity: 0.4;
}

.form-names{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form-names input{
  box-sizing: border-box;
  width: 240px;
}


// stuff for signup modal
