.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: 26px;
  top: 0px;
  position: sticky;
  background-color: white;
  transition: box-shadow .40s ease-in-out;

  // box-shadow: 0 0px 30px 0 rgba(36,50,66,.14);
}

html:not([data-scroll='0']) {

    .nav-bar {
        box-shadow: 0 0px 14px 0 rgba(59, 83, 109, 0.14);
    }
    
}


.signup-navbar{
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  padding: 0px 15px;
  background-color: #796eff;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 50px;
  transition: background-color .15s ease-in-out;

}

.signup-navbar:hover{
  background-color: #4f46ac;
  transition: background-color .2s ease-in-out;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.login{
  font-size: 15px;
  height: 35px;
  line-height: 35px;
  padding: 0px 10px;
  border-radius: 4px;
  border: none;
  color: #222b37;
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;
  transition: color .15s,color .15s ease-in-out;
}

.return{
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  padding: 10px 20px;
  background-color: #796eff;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-right: 50px;
  transition: background-color .15s,color .15s ease-in-out;
}

.return:hover{
  background-color: #4f46ac;
  transition: background-color .2s ease-in-out;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.login:hover{
  color: #796eff;
  transition: color .2s,color .2s ease-in-out;
  transition-property: color;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, ease-in-out;
  transition-delay: 0s, 0s;
}

.asana-logo{
  padding-left: 46px;
  width: 118px;
  cursor: pointer;
}